<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SuperShopping.Properties.Settings.OnLineShoppingConnectionString"
            connectionString="Data Source=DESKTOP-GC86ANB\SQLEXPRESS;Initial Catalog=OnLineShopping;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>